<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Tao.OpenGl" publicKeyToken="1CA010269A4501EF" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.1.0.7" newVersion="2.1.0.7"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
